<?xml version="1.0" encoding="UTF-8"?>
<!-- 导入dtd -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddn.why.mapper.weather.HotCityMapper">

	<!-- 根据id查询，判断是否已经存在 -->
	<select id="selectHotCityList" resultType="com.ddn.why.domain.weather.HotCity">
		SELECT cid,cityname,citycode FROM t_weather_hotcity
	</select>
	
</mapper>

