<?xml version="1.0" encoding="UTF-8"?>
<!-- 导入dtd -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddn.why.mapper.moji.LimitMapper">

	<!-- 查询限行数据 -->
	<select id="selectLimitDataById" resultType="com.ddn.why.domain.moji.MojiJson">
		SELECT cityid,city,limitJson dataJson,updatetime FROM t_weather_mojilimit WHERE cityid = #{cityid}
	</select>
	
	<!-- 保存限行数据 -->
	<insert id="saveLimitJson">
		INSERT INTO t_weather_mojilimit (
			cityid,city,limitJson,createtime,updatetime
		) VALUES (
			#{cityid},#{city},#{limitJson},#{createtime},#{createtime}
		)
	</insert>
	
	<!-- 更新限行数据 -->
	<update id="updateLimitJson">
		UPDATE t_weather_mojilimit SET
			limitJson = #{limitJson},
			updatetime = #{updatetime}
		WHERE cityid = #{cityid}
	</update>
	
	
</mapper>

